h1 {
    margin: 0;
    width: 35%;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
}
.service {
    color: #9bd5b1;
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}