input {
    outline: none;
    border: none;
    height: 50px;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    font-family: "Poppins", serif;
    font-size: 1.3rem;
    box-sizing: border-box;
    padding-left: 10px;
}