.list {
    position: relative;
    background-color: #b5d5c1;
    width: 550px;
    height: 500px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.listingWrapper {
    height: 80%;
    width: 80%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 25px; 
}
.noRoom {
    position: relative;
    top: 40%;
    margin-right: auto;
}
.connectingServer {
    position: relative;
    top: 40%;
    margin-right: auto;
}
.connectingServer::after {
    content: "";
    animation: blink 1.5s infinite;
}
@keyframes blink {
    0% {
      content: "";
    }
    33% {
      content: ".";
    }
    66% {
      content: "..";
    }
    100% {
      content: "...";
    }
  }
.listLogo {
    position: absolute;
    bottom: 96%;
}